header{

  /* Facilite l'affichage avec les Flexbox */
  /*position: absolute;*/
  /*top: 0;*/
  /*left: 0;*/

  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;

  /*background-color: #dc3545;*/
  color: #FFF


}

header div{
  display: inherit;
  align-items: center;
  height: 100%;
}

header a{
  margin: 0;
  display: flex;
  align-items: center;
  h2{
    margin: 0 0 0 20px;
    font: 2.5em "YellowTail";
  }
}

div.right-bloc > *{
  padding: 0 10px;
}
