<a>
  <mat-card class="actor-card">
    <img mat-card-image src="{{picturePath}}" (error)="setDefaultCover()">


    <mat-card-content>
      <h3>{{actor.firstname}} {{actor.lastname}}</h3>
    </mat-card-content>
  </mat-card>

  <h1>Personnages joués</h1>
  <mat-grid-list cols="3" rowHeight="250px" gutterSize="5px">
    <mat-grid-tile
      *ngFor="let character of characters">
      <app-character-card
        [movie]="character.movie"
        [character]="character"
        [coverPath]="character.movie.coverPath"
        (movieClick)="openMovie($event)"></app-character-card>
    </mat-grid-tile>
  </mat-grid-list>

</a>
