<a>
  <mat-card class="actor-card">
    <img mat-card-image src="{{picturePath}}" (error)="setDefaultCover()">


    <mat-card-content>
      <h3>{{actor.firstname}} {{actor.lastname}}</h3>
    </mat-card-content>
  </mat-card>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex="20%" *ngFor="let character of characters">
      <app-character-card class="movie-card"
                          [movie]="character.movie"
                          [character]="character"
                          [coverPath]="character.movie.coverPath"
                          (movieClick)="openDialog($event)"></app-character-card>
    </div>
  </div>
</a>
