/* Resize images */
img {
  max-width: 200px;
  margin-right: 40px;
  height: auto;
}

.actor-card{
  display: flex;
  flex-flow: row;
}

.actor-description-characters{
  margin: 20px;

  display: flex;
  flex-flow: row;
  gap: 10px;
}

.actor-description-character{

}
