<h1>Films</h1>
<div class="scroller">
  <div *ngFor="let movie of movies">
    <app-movie-poster class=""
                    [id]="movie.id"
                    [title]="movie.title"
                    [coverPath]="movie.coverPath"
                    (movieClick)="openMovie($event)"></app-movie-poster>
  </div>
</div>
<div class="align-right">
  <button mat-raised-button color="primary">
    <a href="movies">
      Voir tout
    </a>
  </button>
</div>


<br class="qui Oserait Faire Un Truc Aussi Moche">
<br class="qui Oserait Faire Un Truc Aussi Moche">
<br class="qui Oserait Faire Un Truc Aussi Moche">

<h1>Acteurs</h1>
<mat-card-content class="scroller align-baseline">
  <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex="20%" *ngFor="let actor of actors">
    <app-actor-card class="actor-card"
                    [actor]="actor"
                    [picturePath]="actor.picturePath"
                    (actorClick)="openActor($event)"></app-actor-card>
  </div>
</mat-card-content>

<div class="align-right">
  <button mat-raised-button color="primary">
    <a href="actors">
      Voir tout
    </a>
  </button>
</div>
