<div class="movies-content-test">

  <div id="actions">
    <h1>Films</h1>
    <button [disabled]="!hasRight()" mat-raised-button color="primary" (click)="addMovie()">Ajouter</button>
  </div>

  <div fxLayout="row wrap" fxLayoutGap="20px grid">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex="20%" *ngFor="let movie of movies">
      <app-movie-card class="movie-card"
                      [id]="movie.id"
                      [title]="movie.title"
                      [coverPath]="movie.coverPath"
                      (movieClick)="openDialog($event)"></app-movie-card>
    </div>
  </div>
</div>
