<mat-dialog-content class="mat-typography">
  <div id="headband-image" class="center-cropped" style="background-image: url('/assets/images/le-seigneur-des-anneaux-detail.jpg'); filter: brightness(50%);">
  </div>
  <div fxLayout="row wrap" fxLayoutGap="grid" id="main-content-container">
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="33%" fxFlex="20%" id="sidebar">
      <div class="image-cover">
        <img src="{{coverPath}}" (error)="setDefaultCover()">
      </div>
    </div>
    <div fxFlex.xs="100%" fxFlex.sm="50%" fxFlex.md="65%" fxFlex="70%" id="content-container">
      <div>
        <h1>{{title}}</h1>
        <h2>sous titre</h2>
      </div>
      <p>{{description}}</p>
      <div>
        actors
      </div>
    </div>
  </div>

</mat-dialog-content>
