$breakpoints-xs: 0px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;

img{
  max-width: 800px;
  min-width: 300px;
}

#movie-info-container{
  padding: 40px;
  transform: translate(0, -150px);
}

#info-container{
  display: flex;
  flex-direction: column !important;
  width: 300px;

  margin-top: 50px;
}

#image-container{
  text-align: center;
  border-radius: 5px;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.center-cropped {
  width: 100%;
  min-height: 300px;
  background-position: center center;
  //transform: translate(-120px, -200px);
}

@media (min-width: $breakpoints-lg) {
  #movie-info-container{
    display: flex;
    flex-direction: row;
  }

  #info-container{
    margin-top: 150px;
  }
}

@media (min-width: $breakpoints-xl) {
  #info-container{
    width: 500px;
  }
}

@media (min-width: $breakpoints-xxl) {
  #info-container{
    width: 700px;
  }
}


.category-card{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.category-background{
  width: 200%;
  height: 200%;

  position: absolute;
  z-index: 1;

  -webkit-mask-size: auto 50%;
  mask-size: auto 50%;
  mask-repeat: repeat;
  -webkit-mask-repeat: repeat;
  transform: rotate(-25deg) translate(-93px, -116px);
  overflow: hidden;
}

h1{
  position: relative;
  z-index: 10;
  font-weight: 800;
  font-size: 2em;
}

mat-card-content{
  width: 100%;
  height: 100%;
  display: flex;
}
