$breakpoints-xs: 0px;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;

img{
  max-width: 800px;
  min-width: 300px;
}

#movie-info-container{
  padding: 40px;
  transform: translate(0, -150px);
}

#info-container{
  display: flex;
  flex-direction: column !important;
  width: 300px;
}

#image-container{
  text-align: center;
  border-radius: 5px;
  height: fit-content;
  width: 100%;
  overflow: hidden;
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.center-cropped {
  width: 100%;
  min-height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  //transform: translate(-120px, -200px);
}

@media (min-width: $breakpoints-sm) {

}

@media (min-width: $breakpoints-md) {

}

@media (min-width: $breakpoints-lg) {
  #movie-info-container{
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: $breakpoints-xl) {
  #info-container{
    width: 500px;
  }
}

@media (min-width: $breakpoints-xxl) {
  #info-container{
    width: 700px;
  }
}


/**
#main-content-container{
  display: flex;
  flex-direction: row;
}



.mat-dialog-container{
  padding: 0 !important;
}

#main-content-container{

  #content-container{
    margin-top: 20px;
    margin-left: 40px;

    h1{
      font-size: 2.5em;
      font-weight: 500;
      margin-bottom: 5px;
      color: #FFFFFF;
    }
    h2{
      font-size: 1.8em;
      font-weight: 300;
      color: #FFFFFF;
    }

    p{
      margin-top: 50px;
    }

  }
}
*/
