<mat-dialog-content class="mat-typography">
  <!--
  <div id="headband-image" class="center-cropped"
       [ngStyle]="{'background-image' : 'url(\'' + headbandImagePath +'\')', 'filter': 'brightness(50%)'}">
  </div>
  -->

  <div class="category-card" [style]="linearGradiantStyle" [ngStyle]="{'filter': 'brightness(50%)'}">
    <div class="category-background" [style]="categoryBackground" class="center-cropped"></div>
  </div>

  <div id="movie-info-container">
    <div id="image-container">
      <img src="{{coverPath}}" (error)="setDefaultCover()">
    </div>
    <div id="info-container">
      <div>
        <h1>{{title}}</h1>
        <h2>sous titre</h2>
      </div>
      <p>{{description}}</p>
      <div>
        actors
      </div>
    </div>
  </div>

</mat-dialog-content>
