.category-card{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.category-background{
  width: 200%;
  height: 200%;

  position: absolute;
  z-index: 1;

  -webkit-mask-size: auto 50%;
  mask-size: auto 50%;
  mask-repeat: repeat;
  -webkit-mask-repeat: repeat;
  transform: rotate(-25deg) translate(-93px, -116px);
  overflow: hidden;
}

h1{
  position: relative;
  z-index: 10;
  font-weight: 800;
  font-size: 2em;
  color: #FFFFFF;
}

mat-card-content{
  width: 100%;
  height: 100%;
  display: flex;
}



