
<div id="unauthenticated" [ngClass]="{'hidden' : connected}">
  <button mat-raised-button color="basic"
          [ngClass]="{'hidden' : registration_button_disabled}"
          (click)="onRegisterClick()">Register
  </button>
  <button mat-raised-button color="primary"
          [ngClass]="{'hidden' : connection_button_disabled}"
          (click)="onLoginClick()">Login</button>
</div>

<button [ngClass]="{'hidden' : !connected}" mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
  <fa-icon [icon]="faUser" size="lg"></fa-icon>
</button>

<mat-menu #menu="matMenu" xPosition="before">
  <h3>{{username}}</h3>
  <mat-divider></mat-divider>
  <button mat-menu-item (click)="onLogoutClick()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>
