
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }

html{
  font: normal 16px sans-serif;
  color: #555;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul, nav{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
}

a:hover{
  opacity: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
